<body onload="onDocLoad()">
  <!-- Navigation -->
  <form  id="htmlContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="padding-top: 100px;">

        <div class="wrapper">
          <div class="img-area">
            <div class="inner-area">
              <img
              src="./pic.jpeg"
              alt="default logo"
              class="img-logo"
              id="imgT"
              />
            </div>
          </div>
          <div class="name"> <span id="fName" name="fName"></span>  <span id="lName" name="lName"></span>
          </div>
          <!-- <div class="career">Frontend Developer</div> -->

          <div class="social-icons">
            <a href="https://www.linkedin.com/in/mohammed-faiz-44077116a/" target="_blank" class="fb"
              ><i class='fab fa-linkedin-in'></i></a>

            <a href="??" target="_blank" class="email"
              ><i class="fas fa-envelope"></i
            ></a>


          </div>

          <hr class="horizon" />

          <i class='fas fa-fa-envelope'></i>
          <p class="flow"> <span id="email" name="email"></span></p>
          <div class="info">

          </div>
          <p class="flow"> <span id="number" name="number"></span></p>
          <p class="flow"> <span id="dob" name="dob"></span></p>
          <p class="flow"> <span id="gender" name="gender"></span></p>



          <hr class="horizon" />


          <h5 class="text-left text-uppercase text-center pb-0">Technical skills</h5>
          <div class="col-md-10 ml-md-auto">

              <span id="skils" name="skils"></span>

            </div>

            <hr class="horizon" />

            <h5 class="text-left text-uppercase text-center pb-0">Languages</h5>
          <div class="col-md-10 ml-md-auto">
            <!-- <ul class="text-left">
              <span id="language" name="language">
            </ul> -->
            </div>
        </div>




      <div class="col-md-9">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="index.html"></a>


          </div>
      </nav>
      <main role="main" class="container text-center">

            <div class="starter-template">

              <h5 class="text-left text-uppercase text-center pb-0">Frontend Developer</h5>
              <p class="lead text-left"><span id="summary" name="summary"></span></p>
              <div class="row text-left">
              <div class="col-md-6">
              <ul>
                <li class="h5"><strong>2 years of Software Development experience</strong></li>
              </ul>
                </div>
              <div class="col-md-6">
              <ul>
                <li class="h5"><strong>6 months of Salesforce Development experience</strong></li>
              </ul>
                </div>
                </div>
              <hr/>
              <h5 class="text-left text-uppercase text-center pb-0">PROFESSIONAL EXPERIENCE</h5>
              <hr class="bottom"/>
              <div class="row no-gutters">
              <div class="col-sm-6 text-left h5"><strong>Prodapt Solutions Pvt Ltd,Hyderabad, India</strong></div>
              <div class="col-sm-6 text-right"><strong>11/2021–Present</strong></div></div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 text-left"><strong><em>Salesforce Developer</em></strong></div>
              <!-- <div class="col-sm-6 text-right"><em>Oct 2011 - Present</em></div></div> -->
            </div>
            <ul class="text-left">
              <li>Salesforce Administration , Configuration , Implementation , Lightning Web
                  Component</li>
              <li> Hands on experience in writing queries using SOQL and SOSL in Apex Classes</li>
              <li>  Creating Custom Apps, Custom fields, Profiles, Applying Sharing Rules, Handling
                  Page Layouts, Search Layouts, and Related List and defining Field Dependencies,
                  custom buttons, Validation Rules, workflows, approval processes.</li>
              <li> Current Salesforce certifications (e.g. Platform Developer I and OmniStudio )</li>
              <li> Developed salesforce lightning applications using lightning components, controllers and events and used custom CSS in the
                  components</li>
              <li> Experience with migration of data from excel to SFDC through apex data loader such as import, export and update the data.</li>
              <li> Excellent client-facing written and oral communication skills</li>
            </ul>
              <hr/>
              <h5 class="text-left text-uppercase text-center pb-0">EDUCATION</h5>
              <hr class="bottom"/>
            <div class="row no-gutters">
              <div class="col-md-10 ml-md-auto">
      <ul class="list-unstyled text-left">
        <li><span> Guru Nanak Dev Engineering College</span></li>
        <li><em>Bachelor Of Engineering (Computer Science)</em></li>
      </ul>
      </div>
      </div>






  <div class="actions text-center">
    <button type="submit" id="generatePDF">Generate PDF</button>
  </div>


<!-- <footer class="text-center">
  <div class="footer-above">
      <div class="container">
          <div class="row">
              <div class="footer-col col-md-12">

      </div>
  </div>
  </div>
  </div>
</footer> -->

